<div id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                <img src="../assets/img/about_me.jpg" class="about-img" draggable="false">
            </div>
            <div class="col-xl-9">
                <p class=page-title>
                    Hello
                </p>
                <span>
                    My name's Drew. I'm a front-end developer based out of St. Louis, Missouri working daily in
                    the latest versions of Angular and Ionic at a company called
                    <a href="http://www.bullhorn.com" target="_blank">Bullhorn</a>. Some
                    of my favorite things are playing music,
                    watching movies, traveling, and programming. I built this small portfolio
                    to network and connect with other developers, as well as an excuse to play around more with Angular's CLI.
                    Check out the source code <a href="https://github.com/DrewDudley/drewdud" target="_blank">here</a> for a closer look under the hood.
                    <a href="#skills" class="link">Keep scrolling</a> to see the languages, frameworks, and tools that I know best. The items marked
                    with a * were used in developing this site.
                </span>
            </div>
        </div>
    </div>
    <img src="http://drewdud.com/assets/img/connection.png" id="satellite" class="draggable">
</div>
