<div id="about">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-2">
        <img src="http://drewdud.com/assets/img/me.png" class="about-img">
      </div>
      <div class="col-xl-9">
        <p class=page-title>
          Hello
        </p>
        <span>
          My name's Drew. I'm a 23 year old UI developer based in St. Louis, Missouri 
          working at a company called <a href="http://www.bullhorn.com" target="_blank">
          Bullhorn</a>. I saw my first line of computer code in January of 2014, 
          and then went on to graduate in May of 2016 with a B.S. in 
          <a href="http://www.sbuniv.edu/academics/programs/web-systems-design.php" target="_blank">
          Web Systems and Design</a> from a small school in southwestern Missouri called Southwest Baptist University. 
          I'm passionate about music, traveling, user-experience, and of course, programming. I built this small 
          portfolio to showcase myself to fellow developers that I meet, as well as to get play around more with Angular's CLI. 
          <a href="#skills" class="link">Keep scrolling</a> to get to the good stuff.
        </span>
      </div>
    </div>
  </div>
  <img src="http://drewdud.com/assets/img/connection.png" id="satellite" class="draggable">
</div>