@import "../app.component.scss";

#about {
    padding: 100px 120px;
    .container {
        width: 100%;
    }
    .col-xl-2 {
        text-align: center;
        margin: auto;
        .about-img {
            height: 14em;
            width: 14em;
            border-radius: 50%;
            border: .5em solid $mint;
            -webkit-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
        }
    }
    .container:hover .about-img {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        border-color: $mars;
    }
    #satellite {
        float: right;
        right: 10px;
        width: 125px;
        animation: bobble 2500ms infinite ease-in-out;
        -webkit-animation: bobble 2500ms infinite ease-in-out;
    }
    @media only screen and (max-width: 1250px) {
        padding: 50px 5px;
        .about-img {
            margin-bottom: 25px;
        }
    }
    @keyframes bobble {
        0% {
            transform: translateY(0px);
            animation-timing-function: ease-in;
        }
        50% {
            transform: translateY(12px);
            animation-timing-function: ease-out;
        }
        100% {
            transform: translateY(0px);
        }
    }
    @-webkit-keyframes bobble {
        0% {
            -webkit-transform: translateY(0px);
            -webkit-animation-timing-function: ease-in;
        }
        50% {
            -webkit-transform: translateY(12px);
            -webkit-animation-timing-function: ease-out;
        }
        100% {
            -webkit-transform: translateY(0px);
        }
    }
}