<div id="about">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-2">
        <img src="http://drewdud.com/assets/img/me.png" class="about-img">
      </div>
      <div class="col-xl-9">
        <p class=page-title>
          Gettin' a little personal, ehh?
        </p>
        <span>
          My name's Drew Dudley. I'm a 23 year old UI developer based in St. Louis, Missouri 
          working at an awesome company called Bullhorn. I saw my first line of computer code in January of 2014, 
          and then graduated in May of 2016 with a B.S. in 
          <a href="http://www.sbuniv.edu/academics/programs/web-systems-design.php" class="hover-link" target="_blank">
          Web Systems and Design</a> from a small school in southwest Missouri called Southwest Baptist University. 
          I'm super passionate about music, traveling, learning, and of course, programming. I built this small 
          portfolio to showcase myself to fellow developers that I meet, as well as practice my Angular2 skills. 
          You've come this far, so you might as well <a href="#skills" class="link hover-link">keep going</a> 
          and check out my skill set.
        </span>
      </div>
    </div>
  </div>
  <img src="http://drewdud.com/assets/img/connection.png" id="satellite" class="draggable">
</div>