<div id="contact">
    <p class="page-title" uib-tooltip="On the">
        Let's talk
    </p>
    <span>
        We can talk shop, grab a virtual coffee, or even collab. I'm an open book.
    </span>
    <!-- <form class="col-lg-10" action="php/index.php" method="post">
        <div class="row justify-content-center">
            <div class="form-group col-lg-6">
                <i class="form-icon fa fa-user-o"></i>
                <input type="text" class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group col-lg-6">
                <i class="form-icon fa fa-envelope-open-o"></i>
                <input type="email" class="form-control" id="email" placeholder="Email Address" required>
            </div>
        </div>
        <div class="row justify-content-center message-placeholder">
            <div class="form-group col-lg-12">
                <i class="form-icon fa fa-comment-o"></i>
                <textarea type="text" class="form-control" id="message" placeholder="What's Happening?" required></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Send</button>
    </form> -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-1" *ngFor="let link of contactLinks">
                <h4>
                    <a href="{{ link.href }}" target="_blank" class="{{ link.class }}"><i class="{{ link.icon }}"></i></a>
                </h4>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        &copy; Drew Dudley 2018
    </footer>
</div>