@import "../app.component.scss";

#contact {
    height: 100%;
    padding: 100px 120px;
    background-color: $background;
    color: white;
    @media only screen and (max-width: 1250px) {
        padding: 100px 30px;
    }
}