<div id="intro">
  <div id="space">
    <div id="intro-text">
      <h2>
        Drew Dudley
      </h2>
      <p class="page-title">
        UI/ UX Developer
      </p>
      <div id="menu">
        <p>
          Where to, cap?
        </p>
        <div class="container" *ngFor="let menuItem of menuItems">
          <a href="{{menuItem.href}}">
            <div class="button">
              <i class="fa fa-{{menuItem.icon}}" aria-hidden="true"></i>
              <p>
                {{ menuItem.label }}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>