<div id="intro">
  <h2>
    Drew Dudley
  </h2>
  <p class="page-title">
    UI/ UX Developer
  </p>
  <div id="planets" class=".hidden-md-down">
    <div class="planet" id="mercury"></div>
    <div class="planet" id="venus"></div>
    <div class="planet" id="earth"></div>
    <div class="planet" id="mars"></div>
    <div class="planet" id="jupiter"></div>
    <div class="planet" id="saturn"></div>
    <div class="planet" id="uranus"></div>
    <div class="planet" id="neptune"></div>
  </div>
  <a href="#skills">
    <i class="fa fa-angle-down" aria-hidden="true"></i>
  </a>
</div>