<div id="intro">
    <div id="moon" class="draggable">
        <div class="crater" id="crater1"></div>
        <div class="crater" id="crater2"></div>
        <div class="crater" id="crater3"></div>
        <div class="crater" id="crater4"></div>
        <div id="flag"></div>
    </div>
    <div id="mars" class="draggable">
        <div class="mars-crater" id="crater5"></div>
        <div class="mars-crater" id="crater6"></div>
    </div>
    <div id="intro-content">
        <h2>
            Drew Dudley
        </h2>
        <p class="sub-title">
            UI Developer
        </p>
        <p id="greeting">
            {{ greeting }}
        </p>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="#about" class="link hover-link"><i class="material-icons">fingerprint</i>About Me</a></li>
                    <li><a href="#skills" class="link hover-link"><i class="material-icons">code</i>My Skills</a></li>
                </ul>
                <ul>
                    <li><a href="#portfolio" class="link hover-link"><i class="material-icons">desktop_windows</i>My Work</a></li>
                    <li><a href="#contact" class="link hover-link"><i class="material-icons">mail_outline</i>Contact Me</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
