@import "../app.component.scss";

#skills {
    padding: 100px 120px;
    background: radial-gradient(circle at center, #1B2735 0%, #090A0F 100%);
    color: white;
    .container {
        width: 100%;
        padding: 1em 0 0 0;
        height: 100%;
    }
    .col-lg-2 {
        padding-bottom: 4em;
        text-align: center;
    }
    .page-title {
        padding-top: .5em;
    }
    .skill-img {
        height: 5em;
        margin-bottom: .4em;
    }
    hr {
        background-color: $earth;
    }
    @media only screen and (max-width: 1250px) {
        padding: 50px 20px;
    }
}