@import "../app.component.scss";

#skills {
    padding: 110px 120px;
    padding-bottom: 60px;
    background: radial-gradient(circle at center, $dark 0%, $darkest 100%);
    color: #FFF;
    .container-fluid {
        width: 100%;
        padding: 2.75em 0 0 0;
        height: 100%;
        span {
            color: #FFF;
        }
        .progress {
            margin-top: 2em;
            .progress-bar {
                background-color: $success;
            }
            .learning {
                background-color: $warning;
            }
        }
    }
    .col-lg-2 {
        padding-bottom: 4em;
        text-align: center;
    }
    .page-title {
        padding-bottom: 1em;
    }
    .page-title:not(:first-child) {
        padding-top: 2.75em;
    }
    .skill-img {
        height: 3.3em;
        margin-bottom: .25em;
    }
    hr {
        background-color: $shadow;
    }
    @media only screen and (max-width: 1250px) {
        padding: 60px 20px 10px 20px;
        .skill-img {
            height: 3.75em;
        }
        .page-title {
            padding-bottom: 0;
        }
    }
}