@import "../app.component.scss";

#skills {
    padding: 110px 120px 60px 120px;
    background: radial-gradient(circle at center, $dark 0%, $darker 100%);
    color: #fff;
    .page-title {
        padding-bottom: 1em;
    }
    .page-title:not(:first-child) {
        padding-top: 2.75em;
    }
    .container-fluid {
        width: 100%;
        padding: 2.75em 0 0 0;
        height: 100%;
        span {
            color: #FFF;
            white-space: nowrap;
        }
        .col-lg-2 {
            padding-bottom: 4em;
            text-align: center;
            .skill-img {
                height: 2.8em;
                margin-bottom: .25em;
            }
            .progress {
                margin: 2em auto 0 auto;
                width: 80%;
                .progress-bar {
                    background-color: $success;
                    font-weight: bold;
                }
                .learning {
                    background-color: $warning;
                }
            }
        }
    }
    hr {
        background-color: $shadow;
    }
    @media only screen and (max-width: 1250px) {
        padding: 60px 20px 10px 20px;
        .skill-img {
            height: 3.75em;
        }
        .page-title {
            padding-bottom: 0;
        }
    }
}