<div id="skills">
  <!--Current skills-->
  <p class=page-title>
    These are a handful of my skills...
  </p>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-2" *ngFor="let skill of skills">
        <h4>
          <img src="{{ skill.img }}" class="skill-img" *ngIf="skill.img">
        </h4>
        <span>
          {{ skill.name }}
        </span>
      </div>
    </div>
  </div>
  <hr>
  <!--Sort of skills-->
  <p class=page-title>
    These are things that I'm learning...
  </p>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-2" *ngFor="let sortaSkill of sortaSkills">
        <h4>
          <img src="{{ sortaSkill.img }}" class="skill-img" *ngIf="sortaSkill.img">
        </h4>
        <span>
          {{ sortaSkill.name }}
        </span>
      </div>
    </div>
  </div>
  <hr>
  <!--Future skills-->
  <p class=page-title>
    And these are some things on my TODO list...
  </p>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-2" *ngFor="let futureSkill of futureSkills">
        <h4>
          <img src="{{ futureSkill.img }}" class="skill-img" *ngIf="futureSkill.img">
        </h4>
        <span>
          {{ futureSkill.name }}
        </span>
      </div>
    </div>
  </div>
</div>