<div id="portfolio">
  <p class="page-title">
    My Portfolio
  </p>
  <span>
    I've only been in the business for a few years, but here are a few select projects I've done for some pretty great businesses and organizations.
  </span>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 ">
          <h4>
            Bolivar Chamber of Commerce
          </h4>
        </div>
        <div class="col-md-3">
          <h4>
            Lighthouse Investments
          </h4>
        </div>
        <div class="col-md-3">
          <h4>
            NightLight Branson
          </h4>
        </div>
        <div class="col-md-3">
          <h4>
            Shuffle Ninja
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>