<div id="portfolio">
	<div id="section-header">
		<p class="page-title">
			My (humble) portfolio
		</p>
		<span>
			I've only been in the development game for a few years, but in that short amount of time I've been lucky enough to get to work on some pretty cool projects 
      for some awesome businesses and organizations. I love what I do, so I'd be more than happy to talk about any of these projects, as well as my 
      decision-making processes and methodologies I chose for each. Every site that I work on is mobile-friendly and responsive, so feel free to resize your browser
      and/ or inspect the page source. I'm always looking for new ideas and fun challenges, so if you think of something 
      interesting to work on, (or need a website of your very own, made with <i class="fa fa-heart"></i>) 
      <a href="#contact" class="link">reach out to me</a>.
		</span>
	</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-3" *ngFor="let project of projects">
        <figure>
          <a href="{{ project.link }}" target="_blank">
            <img src="{{ project.img }}" alt="Skill Image" class="image">
            <figcaption>
              <div class="caption-content">
                <i class="fa fa-eye"></i>
                <div class="title">{{ project.title }}</div>
              </div>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>