<div id="portfolio">
	<div id="section-header">
		<p class="page-title">
			My Portfolio
		</p>
		<span>
			I've only been in the business for a few years, but here are a few select projects I've done for some pretty great businesses and organizations. I love what 
      I do, so I'd be more than happy to talk about any of these projects listed, as well as my decision-making process/ methodology I chose for each one. I'm 
      also always looking for new ideas and fun challenges, so if think of something interesting to work on, <a href="#contact" class="link hover-link">let me know</a>.
		</span>
	</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3" *ngFor="let project of projects">
        <figure>
          <a href="{{ project.link }}" target="_blank">
            <img src="{{ project.img }}" alt="Skill Image" class="image">
            <figcaption class="fade-down">
              <div class="caption-content">
                <i class="fa fa-link"></i>
                <div class="title">{{ project.title }}</div>
              </div>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>