@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

// Global colors
$background: rgba(23,28,33,1);
$orange: orange;
$mercury: #A9ADBB;
$venus: #EB6845;
$earth: #4A89DC;
$mars: #e60000;
$jupiter: #EB6845;
$saturn: #FFAA44;
$uranus: #3BAFDA;
$neptune: #3399DD;

body {
    margin: 0;
    font-family: "Nunito:400","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.page-title {
    font-size: 35px;
}

.text-underline {
    color: #fff;
    height: 4em;
    text-decoration: none !important;
}

.button-slide-right {
    color: #fff;
}