@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

// Global colors
$background: #1d1e21;
$mars: #C25447;
$purple: #5c5edc;
$dark-purple: #474a6b;
$orange: #FF6600;
$earth: #4A89DC;
$moon: #E6E6E6;
$mint: #34B3A0;

body {
    margin: 0;
    font-family: "Nunito:400","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.page-title {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

span {
    font-size: 16px;
    font-family: "Nunito:400","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hover-link {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: $mint;
}

.hover-link:hover, .hover-link:focus {
    letter-spacing: 2px;
    text-decoration: none;
    color: $mint;
}